node_modules
*.log
dist
.env
.DS_Store
tsconfig.tsbuildinfo


# Shopkeeper #
##########
.shopkeeper/**/**/.env
.shopkeeper/.current-bucket
.env

# Theme #
##########
theme/assets
theme/config/settings_data.json
theme/templates/**/*.json
theme/sections/*.json

.shopkeeper
shopify
